.slideshow {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    grid-column: 1 / span 3;
    grid-row: 2;
    height: 650px;
}

.carousel-inner {
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    height: 650px;
    background-color: black;
}

.carousel-item {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.carousel-control-prev {
    height: fit-content;
    margin-top: 300px;
    margin-left: 0px;
}

.carousel-control-next {
    height: fit-content;
    margin-top: 300px;
    margin-right: 0px;
}

.d-block {
    width: 700px;
    height: 100%;
    object-fit: contain;
}

.carousel-caption {
    position: absolute;
    top: 0%;
    font-family: belda-normal, sans-serif;
}


.slide-number {
    padding: 20px;
    color: white;
    position: absolute;
    margin: auto;
    font-size: 16px;
    font-family: belda-normal, sans-serif;
}