.slideshow {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 650px;
}

.carousel-inner {
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
    height: 650px;
    background-color: black;
}

.carousel-item {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.carousel-control-prev {
    height: fit-content;
    margin-top: 600px;
    margin-left: 0px;
}

.carousel-control-next {
    height: fit-content;
    margin-top: 600px;
    margin-right: 0px;
}

.d-block {
    width: 700px;
    height: 100%;
    object-fit: contain;
}

.carousel-caption {
    position: absolute;
    top: 0%;
    font-family: belda-normal, sans-serif;
}


.slide-number {
    padding: 20px;
    color: white;
    position: absolute;
    margin: auto;
    font-size: 16px;
    font-family: belda-normal, sans-serif;
}

.gallery-container {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    margin: 0px;
}

.gallery-container::-webkit-scrollbar {
    display: none;
}

.gallery-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery1 {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.gallery2 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-color: rgb(200, 120, 90);
    border-width: 4px;
    float: left;
    width: 215px;
    padding: 0px;
    height: 120px;
}

.gallery:hover {
    border: 1px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-credit {
    padding: 0px;
    position: absolute;
    bottom: 0%;
    left: 39%;
    text-align: center;
    font-family: belda-normal, sans-serif;
    font-style: normal;
}