.grid-container {
    margin: 60px;
    background: rgb(232, 187, 155);
    border: 1px solid #ddd;
    border-color: rgb(158, 82, 57);
    border-width: 12px;
    border-radius: 26px;
    display: grid;
    grid-template-columns: 22% auto 22%;
    gap: 25px;
    padding: 30px;
}


body {
    background-image: url("Images/pianoBackground.jpg");
    background-repeat: repeat;
    background-color: snow;
}



.navbar {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;

}


.navbarlink {
    float: left;
    font-size: 28px;
}


li a:hover {
    background-color: black;
}

.grid-item {
    border: 1px solid #ddd;
    border-color: rgb(158, 82, 57);
    border-width: 4px;
    border-radius: 25px;
    background-color: snow;
    text-align: center;
    font-size: 30px;
    color: black;
}


.grid-navmenu {
    border-color: black;
    background-color: rgb(189, 113, 81);
    border-radius: 12px;
    grid-column: 1 / span 3;
    grid-row: 1;
    margin: auto;
}



.glow {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
            0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }

    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
            0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.active-nav {
    font-weight: bold;
}