body {
    background-image: url("Images/pianoBackground.jpg");
    background-repeat: repeat;
    background-color: snow;
}



.navbar {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;

}


.navbarlink {
    float: left;
    font-size: 28px;
}


li a:hover {
    background-color: rgb(110, 60, 120);
}

.grid-item {
    border: 1px solid #ddd;
    border-color: rgb(137, 114, 150);
    border-width: 4px;
    background-color: snow;
    text-align: center;
    font-size: 30px;
    color: black;
}

.glow {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
            0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }

    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
            0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}