.grid-container {
    background: snow;
    border: 1px solid #ddd;
    border-color: rgb(130, 75, 50);
    border-style: double;
    border-width: 8px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 22% auto 22%;
    gap: 25px;
    padding: 30px;
    margin: 4px;
}


body {
    background-color: rgb(250, 200, 175);
}



.navbar {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    width: 100%;
    padding: 0px;
}



.navbarlink {
    float: left;
    font-size: 28px;
    border-radius: 25px;
}

.navbarlink:hover {
    background-color: black;
}

.grid-item {
    border: 1px solid #ddd;
    border-color: rgb(200, 120, 90);
    border-style: double;
    border-width: 8px;
    border-radius: 25px;
    font-family: belda-normal, serif;
    font-style: normal;
    background-color: snow;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    color: black;
}


li a {
    font-family: mrs-eaves, serif;
    font-weight: 200;
    display: inline;
    color: white;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
}

.grid-navmenu {
    background-color: rgb(200, 120, 90);
    border-width: 0px;
    border-style: none;
    padding: 0px;
    border-radius: 25px;
    grid-column: 1 / span 3;
    grid-row: 1;
    margin: auto;
    font-family: mrs-eaves, serif;
    font-weight: 200;
}


/*The glow animation is not my original code but i modified it to fit my needs. It works by using key frames to add a pulsing shadow to my header text. The reason the animation is called 3 seperate times in the "glow" class is because they are 3 different styles of animation and all together they make the shadow appear to glow. */
.glow {
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 4s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
            0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }

    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
            0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.active-nav {
    font-weight: bold;
    background-color: rgb(130, 60, 40);
}