table,
th,
td {
    border: 3px solid black;

}

body {
    background-color: lightgoldenrodyellow;
}

.container {
    border: 8px solid salmon;
    background-color: lightgoldenrodyellow;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;

}

.galleryimage {
    border: 8px solid salmon;
    background-color: lightgoldenrodyellow;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbarlink {
    float: left;
    font-size: 24px;
}

li a:hover {
    background-color: salmon;
}