body {
    background-color: rgb(240, 92, 66);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240, 147, 94);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbarlink {
    float: left;
    font-size: 24px;
}

li a:hover {
    background-color: rgb(196, 98, 85);
}

p {
    color: white;
    font-size: larger;
}