.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: komet,
        sans-serif;
    font-weight: 700;
    font-style: normal;
}


.navbarlink {
    float: left;
    font-size: 24px;
}

li a:hover {
    background-color: rgb(196, 98, 85);
}

p {
    color: white;
    font-size: larger;
    font-family: komet,
        sans-serif;
    font-weight: 400;
    font-style: italic;

}

h1 {
    font-family: komet;
    sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 32px;
}

font-family: komet,
sans-serif;
font-weight: 400;
font-style: normal;

font-family: komet;
sans-serif;
font-weight: 400;
font-style: italic;


font-family: komet,
sans-serif;
font-weight: 700;
font-style: italic;


font-family: komet,
sans-serif;
font-weight: 700;
font-style: normal;

font-family: komet-sc,
sans-serif;
font-weight: 700;
font-style: normal;